.appBar {

    background-image: linear-gradient(180deg, rgb(31, 57, 187) 0%, rgb(122, 228, 245) 100%);
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 5;

}


.list {

    margin-top: 20px;
    margin-right: 20px;
    font-size: 12px;


}


.listItem:hover {

    font-size: 30px;
    background-color: rgb(71, 71, 71);
}

.button {

    margin-right: 10px;
    margin-top: 10px;

}


.nav {

    margin-left: 10px;
    margin-top: 15px;
    color: white;
}

.mainDiv {

    margin-right: -15px;
    margin-left: -15px;
    height: 100%
}

.loading {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px
}

.laodingText {

    position: 'absolute';


}

.error {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 300px;
    text-align: center;
}